.about {
  margin-bottom: 179px;
  @media (max-width: 950px){
    margin-bottom: 64px;
  }
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  gap: 10px;
  &::before {
    content: '';
    position: absolute;
    background-color: #142d48;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -3px;
    @media (max-width: 950px) {
      display: none;
    }
  }
  @media (max-width: 950px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 25%;
  @media (max-width: 950px) {
    .about__item-img-dec {
      display: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #e50040;
    border-radius: 50%;
    left: 50%;
    bottom: -7px;
    z-index: 1;
    transform: translateX(-50%);
    @media (max-width: 950px) {
      display: none;
    }
  }
  &:first-child {
    &::before {
      display: none;
    }
    &::after {
      width: 155px;
      height: 85px;
      border-radius: 155px 155px 0 0;
    }
  }
  &::after {
    content: '';
    background-color: #f2f2f0;
    position: absolute;
    z-index: -1;
    top: 50%;
    @media (max-width: 950px) {
        display: none;
    }
  }
  &:nth-child(2) {
    &::after {
      border-radius: 239px 239px 0 0;
      width: 239px;
      height: 110px;
  
    }
  }
  &:nth-child(3) {
    &::after {
      border-radius: 180px 180px 0 0;
      width: 180px;
      height: 85px;
      top: 20%;
   
    }
  }
  &:nth-child(4) {
    &::after {
      border-radius: 221px 221px 0 0;
      width: 221px;
      height: 100px;
      top: 40%;
    
    }
  }
}
.about__item-description {
  position: absolute;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  bottom: -115px;
  min-height: 72px;
  @media (max-width: 950px) {
    position: relative;
    min-height: 43px;
    bottom: 0px;
    font-size: 12px;
    line-height: 120%;
  }
}
.about__item-img-mob {
    display: none;
    @media (max-width: 950px) {
        display: block;
        margin-bottom: 20px;
    }
}
