.achievements {
  margin-bottom: 64px;
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}
.achievements__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 750px) {
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 25px;
  }
}
.achievements__images {
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: -4px -4px 6px -2px rgba(0, 0, 0, 0.09) inset,
    10px 10px 31px -4px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  @media (max-width: 890px) {
    padding: 10px;
    box-shadow: -4px -4px 3px -5px rgba(0, 0, 0, 0.06) inset,
      10px 10px 32px 9px rgba(0, 0, 0, 0.04);

    img {
      width: 52px;
      height: 47px;
    }
  }
}

.achievements__text {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  @media (max-width: 890px) {
    font-size: 24px;
    line-height: 150%;
  }
  @media (max-width: 750px) {
    display: none;
  }
}
.achievements__text-mob {
  display: none;
  @media (max-width: 750px) {
    display: block;
    color: #000;
    max-width: 165px;
    font-weight: 700;
    line-height: 150%;
  }
}
.achievements__subtext {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  max-width: 350px;
  @media (max-width: 890px) {
    font-size: 16px;
  }
  a {
    color: #e40136;
    text-decoration: underline;
  }
  @media (max-width: 750px) {
    display: none;
  }
}
.achievements__btn {
  display: none;
  @media (max-width: 750px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #142d48;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    min-height: 36px;
    border-radius: 8px;
    border: 1px solid #000;
  }
}
