.all-promotion {
  margin-bottom: 80px;
  @media (max-width: 650px) {
    display: none;
  }
}
.all-promotion__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 20px 30px;
}
.all-promotion__card {
  border-radius: 12px;
  background: #f2f2f0;
  padding: 30px 30px 30px 40px;
  &:nth-child(2) {
    background-color: #142d48;
    color: white;
  }
  &:nth-child(3) {
    background-color: #142d48;
    color: white;
  }
}
.all-promotion__card-name {
  max-width: 150px;
}

.all-promotion-mob {
  display: none;
  @media (max-width: 650px) {
    display: block;
    margin: 20px 0px 55px 0px;
    .promotion__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      margin-top: 20px;
    }
    .buttom {
      margin-top: 8px;
    }
    .promotion__wrapper-card-name {
        position: relative;
        z-index: 1;
    }
  }
}
