.baner {
  margin: 24px 0px;
  @media (max-width: 650px) {
    display: none;
  }
}
.baner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f0;
  border-radius: 12px;
  padding: 38px 85px 38px 38px;
}
.baner__headtext {
  color: #0d263f;
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}
