/* bonus */

.bonus {
  margin-bottom: 64px;
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}
.bonus__wrapper {
  position: relative;
  background-color: #142d48;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 210px;
  padding: 60px 60px 65px 280px;
  gap: 15px;
  .buttom {
    min-width: 143px;
    min-height: 36px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
  }
  @media (max-width: 1095px) {
    padding: 60px 30px 65px 250px;
  }
  @media (max-width: 1030px) {
    height: 150px;
    padding: 20px 20px 20px 190px;
    align-items: center;
  }
  @media (max-width: 965px) {
    flex-direction: column;
    align-items: normal;
    gap: 20px;
    justify-content: center;
  }
  @media (max-width: 650px) {
    height: 177px;
    padding: 25px 10px 10px 10px;
    border-radius: 12px;
    gap: 0px;
    justify-content: flex-end;
  }
}
.bonus__content {
  color: #fff;
  position: relative;
  z-index: 1;
}
.bonus__image {
  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: 1030px) {
    width: 200px;
  }
  @media (max-width: 650px) {
    display: none;
  }
}
.bonus__content-headtext {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  @media (max-width: 1095px) {
    font-size: 24px;
  }
  @media (max-width: 965px) {
    margin-bottom: 0px;
  }
  @media (max-width: 650px) {
    font-size: 20px;
    max-width: 280px;
    padding-left: 150px;
    margin-bottom: 30px;
  }
}
.bonus__content-subtext {
  font-weight: 400;
  font-size: 16px;
  @media (max-width: 965px) {
    display: none;
  }
  @media (max-width: 650px) {
    display: none;
  }
}
.bonus__image-mob {
  display: none;
  @media (max-width: 650px) {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
  }
}

.bonus-page {
  margin-top: 30px;
  margin-bottom: 45px;
  .bonus__wrapper {
    align-items: center;
    padding: 60px 30px 65px 325px;
    margin-bottom: 0;
    @media (max-width: 1030px) {
      padding: 60px 30px 65px 200px;
    }
    @media (max-width: 650px) {
      background-color: transparent;
      display: block;
      height: auto;
      padding: 0px;
      .bonus__image-mob {
        position: relative;
        margin-bottom: 25px;
      }
    }
  }
  @media (max-width: 650px) {
    margin-bottom: 10px;
  }
  .bonus__content-headtext {
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 0;
    @media (max-width: 965px) {
      font-size: 36px;
    }
    @media (max-width: 650px) {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      padding: 0px;
    }
  }
}
.bonus-page__description {
  margin-bottom: 75px;
  @media (max-width: 650px) {
    margin-bottom: 0;
    .buttom {
      display: none;
    }
  }
}
.bonus-page__description-text {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  @media (max-width: 650px) {
    font-size: 16px;
  }
}
.bonus-page-investments {
  @media (max-width: 650px) {
    margin-bottom: 55px;
    .bonus-page__description-text {
      margin-bottom: 10px;
    }
    .buttom {
      display: flex;
      width: 100%;
    }
  }
}

.bonus-baner-investments {
  position: relative;
  background-color: #f2f2f0;
  padding: 55px 20px 55px 45px;
  border-radius: 12px;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    width: 441px;
    height: 441px;
    background: #e40136;
    border-radius: 50%;
    right: -60px;
    bottom: -300px;
    @media (max-width: 650px) {
      width: 260px;
      height: 260px;
      bottom: -170px;
      right: -30px;
    }
  }
  @media (max-width: 650px) {
    height: 135px;
    padding: 20px 20px 20px 15px;
    z-index: 4;
  }
}
.bonus-baner-investments-img {
  position: absolute;
  right: 80px;
  bottom: 0;
  z-index: 1;
  width: 190px;
  @media (max-width: 650px) {
    width: 120px;
    bottom: -10px;
    right: 25px;
  }
}
