.chio {
  margin: 30px 0px 45px 0px;
  @media (max-width: 650px) {
    margin: 20px 0px 25px 0px;
}
}
.chio__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 650px) {
  }
}
.chio__image {
  width: 350px;
  @media (max-width: 650px) {
    display: none;
    &:last-child {
      display: block;
    }
  }
  @media (max-width: 460px) {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
.chio  {
    max-width: 100%;
}
.statistics-chio {
    display: none;
    @media (max-width: 650px) {
        display: flex;
        .statistics__wrapper {
            margin-bottom: 0px;
        }
    }
}
