.choice {
  margin-bottom: 64px;
  @media (max-width: 1020px) {
    .container {
      padding: 0px 0px 0px 15px;
    }
  }
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}

.choice__wrapper {
  display: flex;
  gap: 30px;
  @media (max-width: 1020px) {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  @media (max-width: 650px) {
    gap: 15px;
  }
}
.choice__card {
  position: relative;
  border-radius: 12px;
  position: relative;
  padding: 35px 0px 0px 25px;
  display: inline-flex;
  flex: 33%;
  height: 200px;
  background-color: #f2f2f0;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 313px;
    height: 313px;
    background-color: #d9d9d9;
    left: 43%;
    top: -30%;
    z-index: -1;
    @media (max-width: 650px) {
      width: 141px;
      height: 141px;
    }
  }
  @media (max-width: 1020px) {
    min-width: 350px;
    flex: 100%;
  }
  @media (max-width: 650px) {
    min-width: 127px;
    height: 90px;
    padding: 12px 0px 0px 8px;
  }
}
.choice__card-name {
  color: #0d263f;
  font-size: 32px;
  font-weight: 700;
  @media (max-width: 650px) {
    font-size: 12px;
  }
}
.choice__card-images {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  @media (max-width: 650px) {
    right: -20%;
}
}
.choice__card-images-wrapper {
  @media (max-width: 650px) {
    object-fit: cover;
    width: 127px;
    height: 90px;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    @media (max-width: 650px) {
      object-fit: contain;
    }
  }
}
