.buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e40136;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    min-height: 50px;
    min-width: 197px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 0px 40px;
    @media (hover: hover) {
      &:hover {
        background-color: #bc002c;
      }
    }
  }
  
  .section-name {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    @media (max-width: 650px) {
      margin-bottom: 8px;
      font-size: 20px;
      max-width: 220px;
    }
  }
  .breadcrumbs {
    max-width: 1140px;
    margin: 60px auto 0px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: #bebebe;
    font-size: 16px;
    font-weight: 400;
    gap: 20px;
    text-transform: capitalize;
    @media (max-width: 650px) {
      margin: 40px auto 0px;
    }
    li {
      position: relative;
      &::after {
        content: '→';
        position: absolute;
        right: -16px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  
  .card__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
  .card {
    flex: 50%;
    background-color: #f2f2f0;
    border-radius: 12px;
    position: relative;
    padding: 20px 20px 20px 30px;
    overflow: hidden;
    &::after {
      content: '';
      background-color: #d9d9d9;
      width: 371px;
      height: 371px;
      position: absolute;
      right: -160px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      @media (max-width: 960px) {
        width: 217px;
        height: 217px;
        right: -70px;
      }
    }
    @media (max-width: 960px) {
      padding: 10px;
      min-height: 140px;
    }
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  .card-name {
    position: relative;
    color: #0d263f;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
    z-index: 2;
    @media (max-width: 960px) {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
  .card-description {
    position: relative;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    max-width: 270px;
    line-height: 120%;
    z-index: 2;
    @media (max-width: 960px) {
      font-size: 12px;
      max-width: 140px;
    }
  }
  .card-images {
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: 1;
    @media (max-width: 960px) {
      height: 140px;
      width: 110px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card__two {
    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .card-name {
        text-align: right;
      }
      .card-description {
        text-align: right;
        max-width: 140px;
      }
      .card-images {
        left: 0px;
        transform: scale(-1, 1);
      }
      &::after {
        @media (max-width: 960px) {
          left: -70px;
        }
      }
    }
  }
  