/* footer */
.footer {
  @media (max-width: 750px) {
    background-color: #0d263f;
    padding: 20px 0px 100px;
  }
}
.footer__wrapper {
  background-color: #0d263f;
  padding: 50px 90px 150px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 750px) {
    flex-direction: column;
    padding: 0px;
    background-color: transparent;
  }
}
.footer__navigate {
  color: white;
  @media (max-width: 750px) {
    order: 2;
  }
}
.footer__navigation-list {
  li {
    font-size: 20px;
    transition: all 0.3s ease 0s;
    @media (hover: hover) {
      :hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 750px) {
        font-size: 16px;
      }
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 750px) {
    order: 1;
    gap: 30px;
    margin-bottom: 35px;
  }
}
.footer__phone {
  color: white;
  font-size: 40px;
  font-weight: 700;
  @media (max-width: 750px) {
    font-size: 24px;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  @media (max-width: 750px) {
    justify-content: flex-start;
  }
}
.insta {
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}
.vk {
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}
