.franchise__mob {
  display: none;
  @media (max-width: 650px) {
    display: block;
    margin-bottom: 30px;
  }
}
.franchise__mob__wrapper {
  border-radius: 12px;
  position: relative;
}
.franchise__mob__images {
  position: relative;
  display: block;
  @media (max-width: 400px) {
    width: 100%;
  }
}
.franchise__mob__contant {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
}
.franchise__mob__contant-name {
  font-size: 24px;
  margin-bottom: 5px;
}
.franchise__mob__contant-subtext {
  font-size: 12px;
  line-height: 120%;
  max-width: 230px;
  a {
    text-decoration: underline;
  }
}
