.franchise {
  margin-bottom: 64px;
  @media (max-width: 680px) {
    display: none;
  }
}

.franchise__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 35px;
  border-radius: 12px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  padding: 17px;
}
.franchise__content {
  max-width: 220px;
  z-index: 1;
  .buttom {
    font-size: 16px;
    font-weight: 400;
    min-height: 36px;
    min-width: 143px;
  }
}
.franchise__content__headtext {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 5px;
}
.franchise__content__subtext {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}

.franchise__images-right {
  position: absolute;
  right: 15px;
  top: 0;
  @media (max-width: 967px) {
    width: 350px;
    right: 0;
  }
  @media (max-width: 820px) {
    width: 230px;
  }
}

.franchise-baner {
  margin: 25px 0px 50px 0px;
}
.franchise-baner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.franchise-baner__img-left {
  width: 711px;
  @media (max-width: 850px) {
    width: 500px;
  }
  @media (max-width: 800px) {
    width: 400px;
  }
  @media (max-width: 700px) {
    display: none;
  }
}
.franchise-baner__img-right {
  width: 348px;
  @media (max-width: 850px) {
    width: 270px;
  }
  @media (max-width: 800px) {
    width: 300px;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}