/* header */

.header {
  padding-top: 20px;
  @media (max-width: 750px) {
    display: none;
  }
}
.header__wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
.header__wrap-top__city {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1 1 10%;
  > *:not(:last-child) {
    margin-right: 7px;
  }
}
.header__navigation {
  display: flex;
  flex: 1 1 70%;
  @media (max-width: 900px) {
    flex: 1 1 60%;
  }
}
.header__wrap-top__navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  li {
    transition: all 0.3s ease 0s;
    @media (hover: hover) {
      :hover {
        text-decoration: underline;
      }
    }
  }
}
.header__wrap-top__phone {
  font-weight: 700;
}

.header__wrap-middle {
  background-color: #f2f2f0;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
}
.logo {
  flex: 1 1 9%;
}
.search {
  flex: 1 1 70%;
  input {
    width: 380px;
    border-radius: 8px;
    background-color: white;
    padding: 8px 15px;
    border: none;
  }
  @media (max-width: 900px) {
    flex: 1 1 60%;
  }
}
.singUp {
  cursor: pointer;
  text-decoration: underline;
}

.header__wrap-down-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 405px;
  transition: all 0.3s ease 0s;
  font-size: 20px;
  font-weight: 500;
  @media (hover: hover) {
    :hover {
      text-decoration: underline;
    }
  }
}
.header-mobail {
  padding-top: 15px;
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}
.header-mobail__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mobail__logo {
  width: 72px;
  height: 39px;
  z-index: 10;
}
.header-mobail__optional {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger-menu {
  display: none;
  @media (max-width: 790px) {
    display: block;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
}
.burger-menu span,
.burger-menu::after,
.burger-menu::before {
  position: absolute;
  width: 100%;
  height: 14%;
  background-color: black;
  transition: all 0.3s ease 0s;
}

.burger-menu::after,
.burger-menu::before {
  content: '';
}

.burger-menu::after {
  bottom: 0%;
}

.burger-menu::before {
  top: 0%;
}

.burger-menu span {
  top: 50%;
  transform: scale(1) translateY(-50%);
}

.burger-menu._active span {
  transform: scale(0) translateY(-50%);
}

.burger-menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger-menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.navigation-mobail {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  padding: 90px 15px 0px;
  transition: all 0.3s ease 0s;
  z-index: 9;
  @media (max-width: 790px) {
    display: block;
    transform: translateX(-100%);
  }
  &._active {
    transform: translateX(0%);
  }
}
.navigation-mobail__list {
  margin-bottom: 20px;
  li {
    position: relative;
    font-size: 20px;
    font-weight: 700;
  }
}
.navigation-mobail__li {
  position: relative;
  &:after {
    transition: all 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translateY(-50%);
    background-image: url('../assets/images/arrowDown.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 8px;
  }
  &._active {
    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.navigation-mobail__list-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  &._active {
    height: auto;
    visibility: visible;
    margin-bottom: 20px;
    opacity: 1;
  }
  li {
    font-weight: 400;
  }
}
.btn {
  border-radius: 12px;
  background: #e40136;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  min-height: 50px;
}
