.investments {
  display: none;
  @media (max-width: 650px) {
    display: block;
    margin-bottom: 30px;
  }
}
.investments__contant {
  margin-bottom: 30px;
}
.investments__contant-subtext {
  color: #696969;
  font-size: 16px;
  font-weight: 400;
}
