/* masters */

.masters {
  margin-bottom: 64px;
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}

.masters__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 850px;
  gap: 25px;
  @media (max-width: 650px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.masters__li {
  padding-left: 40px;
  position: relative;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 30px;
    background-image: url(../assets/images/star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 650px) {
      width: 14px;
      height: 14px;
    }
  }
  @media (max-width: 880px) {
    font-size: 16px;
  }
  @media (max-width: 650px) {
    padding-left: 20px;
  }
}
