*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'Cera Pro', sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-size: 16px;
  background-color: #fbfbfd;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 150%;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
}


