.offers {
  margin-bottom: 64px;
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}

.offers__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 1050px) {
    flex-direction: column;
  }
}
.offers__card {
  flex: 50%;
  border-radius: 12px;
  @media (max-width: 1050px) {
    flex: 100%;
    width: 100%;
  }
  @media (max-width: 650px) {
    display: none;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
  }
}
.offers__card-wrapper {
  position: relative;
  background-color: #f2f2f0;
  padding: 15px 15px 25px 20px;
  overflow: hidden;
  border-radius: 12px;
  &::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #e40136;
    bottom: -150px;
    right: -50px;
    
    @media (max-width: 650px) {
      width: 200px;
      height: 200px;
      bottom: -100px;
      right: -40px;
    }
  }
  @media (max-width: 650px) {
    padding: 10px;
    overflow: visible;
  }
}
.offers__card__name {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
  max-width: 343px;
  z-index: 2;
  @media (max-width: 650px) {
    font-size: 20px;
    max-width: 105px;
  }
}
.offers__card__description {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  max-width: 360px;
  a {
    text-decoration: underline;
    color: #e40136;
  }
  @media (max-width: 650px) {
    font-size: 12px;
    max-width: 135px;
    line-height: 120%;
  }
}
.offers__card__image {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 1;
  @media (max-width: 650px) {
    width: 145px;
    border-radius: 12px;
  }
}
.offers__card__image-two {
  right: 0px;
}
.offers__card-mob {
  display: none;
  @media (max-width: 650px) {
    display: block;
  }
}
