.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(19, 46, 72, 0.49) 0%,
    rgba(19, 46, 72, 0) 100%
  );
  z-index: 99999;
}
.pop-up__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 540px;
  padding: 30px 25px 50px 30px;
  border-radius: 12px;
  @media (max-width: 650px) {
    min-width: 290px;
    padding: 15px 15px 35px 15px;
  }
}
.pop-up__headtext {
  color: #0d263f;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.pop-up__politics {
  margin-top: 32px;
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  @media (max-width: 650px) {
    font-size: 11px;
    margin-top: 25px;
    line-height: 130%;
  }

  a {
    text-decoration: underline;
  }
}
.close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 25px;
  width: 13px;
  height: 13px;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #0d263f;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-130deg);
  }
  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #0d263f;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(130deg);
  }
  @media (max-width: 650px) {
    top: 26px;
    right: 15px;
  }
}
.step1 {
  display: none;
}

.step2 {
  display: none;
}
.pop-up__wrapper-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 24px;
  input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #fff;
    &::placeholder {
      color: #afafaf;
      font-size: 16px;
      font-weight: 400;
    }
  }
  @media (max-width: 650px) {
    gap: 16px;
    margin-bottom: 16px;
  }
}

.step3 {
  display: none;
  .pop-up__wrapper-inputs {
    margin-bottom: 20px;
    @media (max-width: 650px) {
      margin-bottom: 15px;
    }
  }
  .pop-up__politics {
    margin-top: 0px;
    @media (max-width: 650px) {
      font-size: 16px;
    }
  }
}
.step4 {
  display: none;
}
