.promotion {
  margin-bottom: 64px;
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}
.section-name__wrapper {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .section-name {
    margin-bottom: 0px;
    @media (max-width: 750px) {
      margin-bottom: 15px;
    }
  }
  @media (max-width: 750px) {
    display: block;
    margin-bottom: 0px;
  }
}
.btn__all-promotion {
  color: #142d48;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 145px;
  min-height: 35px;
  border-radius: 8px;
  border: 1px solid #000;
  transition: all 0.3s linear 0s;
  @media (hover: hover) {
    &:hover {
      background: #f0f0f0;
    }
  }
  @media (max-width: 750px) {
    display: none;
  }
}
.promotion__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 30px;
  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.promotion__wrapper-card {
  background-color: #f2f2f0;
  color: #0f253a;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0px 0px 20px;
  transition: all 0.3s linear 0s;
  border-radius: 12px;
  position: relative;
  // @media (hover: hover) {
  //   &:hover {
  //     background-color: #142d48;
  //     color: white;
  //   }
  // }
  &:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/2;
    @media (max-width: 750px) {
      grid-row: 1/1;
      grid-column: 1/1;
      display: none;
    }
  }
  @media (max-width: 750px) {
    font-size: 16px;
    padding: 14px 0px 0px 8px;
    min-height: 140px;
    &:last-child {
      display: none;
    }
  }
}
.card-veterans {
  background-color: #142d48;
  color: white;
  @media (max-width: 750px) {
    position: relative;
  }
}
.promotion__wrapper-card-description {
  display: none;
  @media (max-width: 750px) {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 100%;
  }
}
.card-clock {
  @media (max-width: 750px) {
    text-align: right;
    padding: 14px 8px 0px 0px;
  }
}
.promotion__wrapper-card__img-clock {
  position: absolute;
  right: 40px;
  bottom: 40px;
  @media (max-width: 960px) {
    width: 107px;
    height: 107px;
    bottom: 20px;
    right: 20px;
  }
  @media (max-width: 750px) {
    left: 17px;
    bottom: 18px;
  }
}
.promotion__wrapper-card-description-clock {
  display: none;
  @media (max-width: 750px) {
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 10px;
  }
}
.promotion__wrapper-card__img-star {
  display: none;
  @media (max-width: 750px) {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
  }
}
.btn__all-promotion-mabail {
  display: none;
  @media (max-width: 750px) {
    display: flex;
  }
}

.promotion-description {
  margin-bottom: 80px;
  @media (max-width: 650px) {
    margin-bottom: 55px;
    .buttom {
      width: 100%;
    }
  }
}
.promotion-description__sale {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  @media (max-width: 650px) {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
.promotion-description__date {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 25px;
  @media (max-width: 650px) {
    font-size: 16px;
  }
}
.promotion__card-mob {
  display: none;
  @media (max-width: 650px) {
    display: block;
    .promotion__wrapper-card {
      display: block;
      margin: 20px 0px 25px 0px;
      .promotion__wrapper-card-name {
        position: relative;
        z-index: 3;
      }
    }
  }
}
.clients {
  display: none;
  @media (max-width: 700px) {
    display: block;
    background-color: #132e48;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 35px;
  }
}
.clients__name {
  color: #fff;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
}
.clients__wrapper {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  .clients__logo {
    text-align: center;
  }
}
