.start-screen {
  margin: 30px 0px;
  @media (max-width: 650px) {
    margin: 40px 0px 110px;
  }
  .container {
    @media (max-width: 820px) {
      padding: 0px;
    }
  }
}

.start-screen__wrapper {
  position: relative;
  display: flex;
  padding: 30px 0px 65px 95px;
  background: linear-gradient(0deg, #f2f2f0 0%, rgba(243, 240, 241, 0) 100%);
  .buttom {
    display: none;
    max-width: 197px;
  }
  .start-screen__content {
    .buttom {
      display: flex;
    }
    @media (max-width: 650px) {
      .buttom {
        display: none;
      }
    }
  }
  @media (max-width: 1024px) {
    padding: 30px 0px 45px 25px;
  }
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    .buttom {
      display: flex;
      margin-bottom: -70px;
    }
  }
}

.start-screen__content-headtext {
  color: #0d263f;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  max-width: 500px;
  margin-bottom: 20px;
  @media (max-width: 1024px) {
    font-size: 30px;
    max-width: 400px;
  }
  @media (max-width: 780px) {
    font-size: 24px;
    max-width: 236px;
  }
  @media (max-width: 650px) {
    margin-bottom: 0px;
    max-width: 100%;
  }
}
.start-screen__images {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  @media (max-width: 650px) {
    position: relative;
    margin-bottom: 20px;
  }
  @media (max-width: 400px) {
    margin-top: -30px;
  }
}
.start-screen__images-wrapper {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    width: 469px;
    height: 469px;
    background-color: #e40136;
    position: absolute;
    left: 45%;
    top: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    @media (max-width: 1024px) {
      width: 350px;
      height: 350px;
    }
    @media (max-width: 750px) {
      width: 236px;
      height: 236px;
      left: 55%;
      top: 90%;
    }
  }
  @media (max-width: 1024px) {
    width: 400px;
  }
  @media (max-width: 750px) {
    width: 305px;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
