.statistics {
  margin-bottom: 75px;
  @media (max-width: 650px) {
    margin-bottom: 55px;
  }
  .buttom {
    max-width: 300px;
    @media (max-width: 730px) {
      max-width: 100%;
    }
  }
}
.statistics__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  gap: 40px 25px;
  @media (max-width: 650px) {
    margin-bottom: 20px;
    align-items: center;
    gap: 25px 0px;
  }
}
.statistics__place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  @media (max-width: 650px) {
    flex-direction: column;
    width: 48%;
  }
}
.statistics__place-open {
  position: relative;
  background: linear-gradient(270deg, #e30d2a 0%, #e73c4c 100%);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  @media (max-width: 650px) {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      height: 26px;
      width: 1px;
      background-color: #E73B4C;
      z-index: -1;
    }
  }
}
.statistics__place-open__img {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    margin-bottom: 0px;
    width: 87px;
    margin-top: -4px;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
}
.statistics__place-open__text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  span {
    font-size: 48px;
    font-weight: 900;
    @media (max-width: 650px) {
      font-size: 40px;
    }
  }
  @media (max-width: 650px) {
    font-size: 16px;
  }
}
.statistics__place-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  span {
    color: #e73a4a;
    font-size: 48px;
    font-weight: 900;
    @media (max-width: 650px) {
      font-size: 40px;
    }
  }
  @media (max-width: 650px) {
    font-size: 12px;
  }
}
.statistics__employees {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: #f2f2f0;
  padding: 15px 30px;
  width: 440px;
  @media (max-width: 650px) {
    display: block;
    width: 48%;
    padding: 20px;
  }
}
.statistics__employees-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  span {
    color: #132e48;
    font-size: 48px;
    font-weight: 900;
    @media (max-width: 650px) {
      font-size: 40px;
    }
  }
  @media (max-width: 650px) {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
.statistics__employees-subtext {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  span {
    color: #132e48;
    font-size: 48px;
    font-weight: 900;
    @media (max-width: 650px) {
      font-size: 40px;
    }
  }
  @media (max-width: 650px) {
    font-size: 12px;
  }
}
.statistics__employees-img {
  display: none;
  @media (max-width: 650px) {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}
.statistics__clients {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  span {
    color: #132e48;
    font-size: 48px;
    font-weight: 900;
  }
}
