.vacancies {
  margin: 30px 0px 80px;
  .buttom-mobail {
    display: none;
  }
  @media (max-width: 650px) {
    margin: 20px 0px 55px;
    .buttom-mobail {
      display: flex;
    }
  }
}
.vacancies__wrapper {
  position: relative;
  background-color: #f2f2f0;
  padding: 30px 0px 30px 60px;
  overflow: hidden;
  .buttom {
    max-width: 230px;
    padding: 0px;
    @media (max-width: 650px) {
      display: none;
    }
  }
  &::before {
    content: '';
    width: 482.937px;
    height: 482.937px;
    background-color: #e40136;
    position: absolute;
    right: -150px;
    bottom: -220px;
    border-radius: 50%;
    @media (max-width: 980px) {
      right: -220px;
      bottom: -290px;
    }
    @media (max-width: 650px) {
      width: 200px;
      height: 200px;
      right: -50px;
      bottom: -100px;
    }
  }
  @media (max-width: 650px) {
    padding: 12px 12px 40px 12px;
    margin-bottom: 25px;
  }
}
.vacancies__description {
  position: relative;
  color: #696969;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  max-width: 65%;
  margin-bottom: 25px;
  br {
    display: none;
  }
  @media (max-width: 650px) {
    font-size: 16px;
    margin-bottom: 0px;
  }
  @media (max-width: 460px) {
    max-width: 100%;
    br {
      display: block;
    }
  }
}
.vacancies__description-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 304px;
  z-index: 2;
  img {
    display: block;
    width: 100%;
  }
  @media (max-width: 980px) {
    width: 270px;
  }
  @media (max-width: 650px) {
    width: 165px;
  }
}
