@font-face {
  font-family: 'Cera Pro';
  src: url(/assets/font/CeraPro-Regular.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Cera Pro';
  src: url(/assets/font/CeraPro-Medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Cera Pro';
  src: url(/assets/font/CeraPro-Bold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Cera Pro';
  src: url(/assets/font/CeraPro-Black.woff2) format('woff2');
  font-weight: 900;
}

@import '_null.scss';
@import '_components';
@import '_header.scss';
@import '_start-screen.scss';
@import '_choice.scss';
@import '_masters.scss';
@import '_promotion.scss';
@import '_about.scss';
@import '_bonus.scss';
@import '_achievements.scss';
@import '_franchise.scss';
@import '_offers.scss';
@import '_investments.scss';
@import '_franchiseMob.scss';
@import '../scss/womens/_womens';
@import '../scss/womens/_price';
@import '_baner.scss';
@import '_all-promotion.scss';
@import '_statistics.scss';
@import '_chio.scss';
@import '_vacancies.scss';
@import '_footer.scss';
@import '_popUp.scss';
