.price {
  margin-bottom: 80px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 103.125%;
  @media (max-width: 650px) {
    margin-bottom: 55px;
  }
  .buttom {
    margin-top: 40px;
    @media (max-width: 650px) {
      margin-top: 20px;
      width: 100%;
    }
  }
}
.price__name {
  font-size: 32px;
  font-weight: 700;
  padding: 10px 0px 10px 15px;
  @media (max-width: 650px) {
    font-size: 12px;
    padding: 5px 0px 5px 15px;
  }
}
.table {
  > *:nth-child(odd) {
    background-color: #f2f2f0;
  }
}
.line {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 15px;
  line-height: 103.125%;
  @media (max-width: 650px) {
    font-size: 12px;
  }
}
