.womens,
.mens {
  margin-top: 64px;
  margin-bottom: 40px;
  @media (max-width: 650px) {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.mens {
  .card {
    background-color: #0d263f;
  }
  .card-name {
    color: white;
  }
  .card-description {
    color: white;
  }
}
