@charset "UTF-8";

@font-face {
  font-family: "Cera Pro";
  src: url(/wp-content/themes/chio/assets/font/CeraPro-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url(/wp-content/themes/chio/assets/font/CeraPro-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url(/wp-content/themes/chio/assets/font/CeraPro-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Cera Pro";
  src: url(/wp-content/themes/chio/assets/font/CeraPro-Black.woff2) format("woff2");
  font-weight: 900;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-size: 16px;
  background-color: #fbfbfd;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 150%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
}

.buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e40136;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  min-height: 50px;
  min-width: 197px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 0px 40px;
}

@media (hover: hover) {
  .buttom:hover {
    background-color: #bc002c;
  }
}

.promotion-description h2 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .promotion-description h2 {
    margin-bottom: 8px;
    font-size: 20px;
    max-width: 220px;
  }
}

.breadcrumbs {
  max-width: 1140px;
  margin: 54px auto 0px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: #bebebe;
  font-size: 16px;
  font-weight: 400;
  gap: 20px;
  text-transform: capitalize;
}

@media (max-width: 650px) {
  .breadcrumbs {
    margin: 40px auto 0px;
  }
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li::after {
  content: "→";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs li:last-child::after {
  display: none;
}

.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 650px) {
  .card__wrapper {
    flex-direction: column;
  }
}

.card {
  flex: 50%;
  background-color: #f2f2f0;
  border-radius: 12px;
  position: relative;
  padding: 20px 20px 20px 30px;
  overflow: hidden;
}

.card::after {
  content: "";
  background-color: #d9d9d9;
  width: 371px;
  height: 371px;
  position: absolute;
  right: -160px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

@media (max-width: 960px) {
  .card::after {
    width: 217px;
    height: 217px;
    right: -70px;
  }
}

@media (max-width: 960px) {
  .card {
    padding: 10px;
    min-height: 140px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100%;
  }
}

.card-name {
  position: relative;
  color: #0d263f;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
  z-index: 2;
}

@media (max-width: 960px) {
  .card-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.card-description {
  position: relative;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  max-width: 270px;
  line-height: 120%;
  z-index: 2;
}

@media (max-width: 960px) {
  .card-description {
    font-size: 12px;
    max-width: 140px;
  }
}

.card-images {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 960px) {
  .card-images {
    height: 140px;
    width: 110px;
  }
}

.card-images img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 650px) {
  .card__two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .card__two .card-name {
    text-align: right;
  }

  .card__two .card-description {
    text-align: right;
    max-width: 140px;
  }

  .card__two .card-images {
    left: 0px;
    transform: scale(-1, 1);
  }
}

@media (max-width: 650px) and (max-width: 960px) {
  .card__two::after {
    left: -70px;
  }
}

/* header */
.header {
  padding-top: 20px;
}

@media (max-width: 750px) {
  .header {
    display: none;
  }
}

.header__wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.header__wrap-top__city {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1 1 10%;
}

.header__wrap-top__city>*:not(:last-child) {
  margin-right: 7px;
}

.header__navigation {
  display: flex;
  flex: 1 1 70%;
}

@media (max-width: 900px) {
  .header__navigation {
    flex: 1 1 60%;
  }
}

.header__wrap-top__navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
}

.header__wrap-top__navigation-list li {
  transition: all 0.3s ease 0s;
}

@media (hover: hover) {
  .header__wrap-top__navigation-list li :hover {
    text-decoration: underline;
  }
}

.header__wrap-top__phone {
  font-weight: 700;
}

.header__wrap-middle {
  background-color: #f2f2f0;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
}

.logo {
  flex: 1 1 9%;
}

.search {
  flex: 1 1 70%;
}

.search input {
  width: 380px;
  border-radius: 8px;
  background-color: white;
  padding: 8px 15px;
  border: none;
}

@media (max-width: 900px) {
  .search {
    flex: 1 1 60%;
  }
}

.singUp {
  cursor: pointer;
  text-decoration: underline;
}

.header__wrap-down-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 405px;
  transition: all 0.3s ease 0s;
  font-size: 20px;
  font-weight: 500;
}

@media (hover: hover) {
  .header__wrap-down-navigation :hover {
    text-decoration: underline;
  }
}

.header-mobail {
  padding-top: 15px;
  display: none;
}

@media (max-width: 750px) {
  .header-mobail {
    display: block;
  }
}

.header-mobail__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mobail__logo {
  width: 72px;
  height: 39px;
  z-index: 10;
}

.header-mobail__optional {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger-menu {
  display: none;
}

@media (max-width: 790px) {
  .burger-menu {
    display: block;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
}

.burger-menu span,
.burger-menu::after,
.burger-menu::before {
  position: absolute;
  width: 100%;
  height: 14%;
  background-color: black;
  transition: all 0.3s ease 0s;
}

.burger-menu::after,
.burger-menu::before {
  content: "";
}

.burger-menu::after {
  bottom: 0%;
}

.burger-menu::before {
  top: 0%;
}

.burger-menu span {
  top: 50%;
  transform: scale(1) translateY(-50%);
}

.burger-menu._active span {
  transform: scale(0) translateY(-50%);
}

.burger-menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger-menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.navigation-mobail {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  padding: 90px 15px 0px;
  transition: all 0.3s ease 0s;
  z-index: 9;
}

@media (max-width: 790px) {
  .navigation-mobail {
    display: block;
    transform: translateX(-100%);
  }
}

.navigation-mobail._active {
  transform: translateX(0%);
}

.navigation-mobail__list {
  margin-bottom: 20px;
}

.navigation-mobail__list li {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}

.navigation-mobail__li {
  position: relative;
}

.navigation-mobail__li:after {
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  transform: translateY(-50%);
  background-image: url("/wp-content/themes/chio/assets/images/arrowDown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 8px;
}

.navigation-mobail__li._active:after {
  transform: translateY(-50%) rotate(180deg);
}

.navigation-mobail__list-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.navigation-mobail__list-two._active {
  height: auto;
  visibility: visible;
  margin-bottom: 20px;
  opacity: 1;
}

.navigation-mobail__list-two li {
  font-weight: 400;
}

.btn {
  border-radius: 12px;
  background: #e40136;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  min-height: 50px;
}

.start-screen {
  margin: 30px 0px;
}

@media (max-width: 650px) {
  .start-screen {
    margin: 40px 0px 110px;
  }
}

@media (max-width: 820px) {
  .start-screen .container {
    padding: 0px;
  }
}

.start-screen__wrapper {
  position: relative;
  display: flex;
  padding: 30px 0px 65px 95px;
  background: linear-gradient(0deg, #f2f2f0 0%, rgba(243, 240, 241, 0) 100%);
}

.start-screen__wrapper .buttom {
  display: none;
  max-width: 197px;
}

.start-screen__wrapper .start-screen__content .buttom {
  display: flex;
}

@media (max-width: 650px) {
  .start-screen__wrapper .start-screen__content .buttom {
    display: none;
  }
}

@media (max-width: 1024px) {
  .start-screen__wrapper {
    padding: 30px 0px 45px 25px;
  }
}

@media (max-width: 650px) {
  .start-screen__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
  }

  .start-screen__wrapper .buttom {
    display: flex;
    margin-bottom: -70px;
  }
}

.start-screen__content-headtext {
  color: #0d263f;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  max-width: 500px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .start-screen__content-headtext {
    font-size: 30px;
    max-width: 400px;
  }
}

@media (max-width: 780px) {
  .start-screen__content-headtext {
    font-size: 24px;
    max-width: 236px;
  }
}

@media (max-width: 650px) {
  .start-screen__content-headtext {
    margin-bottom: 0px;
    max-width: 100%;
  }
}

.start-screen__images {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media (max-width: 650px) {
  .start-screen__images {
    position: relative;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .start-screen__images {
    margin-top: -30px;
  }
}

.start-screen__images-wrapper {
  position: relative;
  z-index: 1;
}

.start-screen__images-wrapper::before {
  content: "";
  width: 469px;
  height: 469px;
  background-color: #e40136;
  position: absolute;
  left: 45%;
  top: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .start-screen__images-wrapper::before {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 750px) {
  .start-screen__images-wrapper::before {
    width: 236px;
    height: 236px;
    left: 55%;
    top: 90%;
  }
}

@media (max-width: 1024px) {
  .start-screen__images-wrapper {
    width: 400px;
  }
}

@media (max-width: 750px) {
  .start-screen__images-wrapper {
    width: 305px;
  }
}

.start-screen__images-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.choice {
  margin-bottom: 64px;
}

@media (max-width: 1020px) {
  .choice .container {
    padding: 0px 0px 0px 15px;
  }
}

@media (max-width: 650px) {
  .choice {
    margin-bottom: 30px;
  }
}

.choice__wrapper {
  display: flex;
  gap: 30px;
}

@media (max-width: 1020px) {
  .choice__wrapper {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
  }

  .choice__wrapper::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 650px) {
  .choice__wrapper {
    gap: 15px;
    padding-right: 20px;
  }
}

.choice__card {
  position: relative;
  border-radius: 12px;
  position: relative;
  padding: 35px 0px 0px 25px;
  display: inline-flex;
  flex: 33%;
  height: 200px;
  background-color: #f2f2f0;
  overflow: hidden;
  z-index: 1;
}

.choice__card::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 313px;
  height: 313px;
  background-color: #d9d9d9;
  left: 43%;
  top: -30%;
  z-index: -1;
}

@media (max-width: 650px) {
  .choice__card::before {
    width: 141px;
    height: 141px;
  }
}

@media (max-width: 1020px) {
  .choice__card {
    min-width: 350px;
    flex: 100%;
  }
}

@media (max-width: 650px) {
  .choice__card {
    min-width: 127px;
    height: 90px;
    padding: 12px 0px 0px 8px;
  }
}

.choice__card-name {
  color: #0d263f;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 650px) {
  .choice__card-name {
    font-size: 12px;
  }
}

.choice__card-images {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 650px) {
  .choice__card-images {
    right: -20%;
  }
}

@media (max-width: 650px) {
  .choice__card-images-wrapper {
    -o-object-fit: cover;
    object-fit: cover;
    width: 127px;
    height: 90px;
  }
}

.choice__card-images-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 650px) {
  .choice__card-images-wrapper img {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

/* masters */
.masters {
  margin-bottom: 64px;
}

@media (max-width: 650px) {
  .masters {
    margin-bottom: 30px;
  }
}

.masters__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 850px;
  gap: 25px;
}

@media (max-width: 650px) {
  .masters__list {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.masters__li {
  padding-left: 40px;
  position: relative;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.masters__li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 30px;
  background-image: url(/wp-content/themes/chio/assets/images/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 650px) {
  .masters__li::before {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 880px) {
  .masters__li {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .masters__li {
    padding-left: 20px;
  }
}

.promotion {
  margin-bottom: 64px;
}

@media (max-width: 650px) {
  .promotion {
    margin-bottom: 30px;
  }
}

.section-name__wrapper {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-name__wrapper .section-name {
  margin-bottom: 0px;
}

@media (max-width: 750px) {
  .section-name__wrapper .section-name {
    margin-bottom: 15px;
  }
}

@media (max-width: 750px) {
  .section-name__wrapper {
    display: block;
    margin-bottom: 0px;
  }
}

.btn__all-promotion {
  color: #142d48;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 145px;
  min-height: 35px;
  border-radius: 8px;
  border: 1px solid #000;
  transition: all 0.3s linear 0s;
}

@media (hover: hover) {
  .btn__all-promotion:hover {
    background: #f0f0f0;
  }
}

@media (max-width: 750px) {
  .btn__all-promotion {
    display: none;
  }
}

.promotion__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 30px;
}

@media (max-width: 750px) {
  .promotion__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.promotion__wrapper-card {
  background-color: #f2f2f0;
  color: #0f253a;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0px 0px 20px;
  transition: all 0.3s linear 0s;
  border-radius: 12px;
  position: relative;
}

.promotion__wrapper-card:nth-child(2) {
  grid-row: 1/3;
  grid-column: 2/2;
}

@media (max-width: 750px) {
  .promotion__wrapper-card:nth-child(2) {
    grid-row: 1/1;
    grid-column: 1/1;
    display: none;
  }
}

@media (max-width: 750px) {
  .promotion__wrapper-card {
    font-size: 16px;
    padding: 14px 0px 0px 8px;
    min-height: 140px;
  }

  .promotion__wrapper-card:last-child {
    display: none;
  }
}

.card-veterans {
  background-color: #142d48;
  color: white;
}

@media (max-width: 750px) {
  .card-veterans {
    position: relative;
  }
}

.promotion__wrapper-card-description {
  display: none;
}

@media (max-width: 750px) {
  .promotion__wrapper-card-description {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 100%;
  }
}

@media (max-width: 750px) {
  .card-clock {
    text-align: right;
    padding: 14px 8px 0px 0px;
  }
}

.promotion__wrapper-card__img-clock {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

@media (max-width: 960px) {
  .promotion__wrapper-card__img-clock {
    width: 107px;
    height: 107px;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 750px) {
  .promotion__wrapper-card__img-clock {
    left: 17px;
    bottom: 18px;
  }
}

.promotion__wrapper-card-description-clock {
  display: none;
}

@media (max-width: 750px) {
  .promotion__wrapper-card-description-clock {
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 10px;
  }
}

.promotion__wrapper-card__img-star {
  display: none;
}

@media (max-width: 750px) {
  .promotion__wrapper-card__img-star {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
  }
}

.btn__all-promotion-mabail {
  display: none;
}

@media (max-width: 750px) {
  .btn__all-promotion-mabail {
    display: flex;
  }
}

.promotion-description {
  margin-bottom: 80px;
}

@media (max-width: 650px) {
  .promotion-description {
    margin-bottom: 55px;
  }

  .promotion-description .buttom {
    width: 100%;
  }
}

.promotion-description p {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 650px) {
  .promotion-description p {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.promotion-description__date {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .promotion-description__date {
    font-size: 16px;
  }
}

.promotion__card-mob {
  display: none;
}

@media (max-width: 650px) {

  .promotion__card-mob {
    display: block;
  }

  .promotion__card-mob .promotion__wrapper-card {
    display: block;
    margin: 20px 0px 25px 0px;
  }

  .promotion__card-mob .promotion__wrapper-card .promotion__wrapper-card-name {
    position: relative;
    z-index: 3;
    font-size: 18px;
  }
}

.clients {
  display: none;
}

@media (max-width: 700px) {
  .clients {
    display: block;
    background-color: #132e48;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 35px;
  }
}

.clients__name {
  color: #fff;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
}

.clients__wrapper {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.clients__wrapper .clients__logo {
  text-align: center;
}

.about {
  margin-bottom: 179px;
}

@media (max-width: 950px) {
  .about {
    margin-bottom: 64px;
  }
}

@media (max-width: 650px) {
  .about {
    margin-bottom: 30px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  gap: 10px;
}

.about__wrapper::before {
  content: "";
  position: absolute;
  background-color: #142d48;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -3px;
}

@media (max-width: 950px) {
  .about__wrapper::before {
    display: none;
  }
}

@media (max-width: 950px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 25%;
}

@media (max-width: 950px) {
  .about__item .about__item-img-dec {
    display: none;
  }
}

.about__item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #e50040;
  border-radius: 50%;
  left: 50%;
  bottom: -7px;
  z-index: 1;
  transform: translateX(-50%);
}

@media (max-width: 950px) {
  .about__item::before {
    display: none;
  }
}

.about__item:first-child::before {
  display: none;
}

.about__item:first-child::after {
  width: 155px;
  height: 85px;
  border-radius: 155px 155px 0 0;
}

.about__item::after {
  content: "";
  background-color: #f2f2f0;
  position: absolute;
  z-index: -1;
  top: 50%;
}

@media (max-width: 950px) {
  .about__item::after {
    display: none;
  }
}

.about__item:nth-child(2)::after {
  border-radius: 239px 239px 0 0;
  width: 239px;
  height: 110px;
}

.about__item:nth-child(3)::after {
  border-radius: 180px 180px 0 0;
  width: 180px;
  height: 85px;
  top: 20%;
}

.about__item:nth-child(4)::after {
  border-radius: 221px 221px 0 0;
  width: 221px;
  height: 100px;
  top: 40%;
}

.about__item-description {
  position: absolute;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  bottom: -115px;
  min-height: 72px;
}

@media (max-width: 950px) {
  .about__item-description {
    position: relative;
    min-height: 43px;
    bottom: 0px;
    font-size: 12px;
    line-height: 120%;
  }
}

.about__item-img-mob {
  display: none;
}

@media (max-width: 950px) {
  .about__item-img-mob {
    display: block;
    margin-bottom: 20px;
  }
}

/* bonus */
.bonus {
  margin-bottom: 64px;
}

@media (max-width: 650px) {
  .bonus {
    margin-bottom: 30px;
  }
}

.bonus__wrapper {
  position: relative;
  background-color: #142d48;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 210px;
  padding: 60px 60px 65px 280px;
  gap: 15px;
}

.bonus__wrapper .buttom {
  min-width: 143px;
  min-height: 36px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

@media (max-width: 1095px) {
  .bonus__wrapper {
    padding: 60px 30px 65px 250px;
  }
}

@media (max-width: 1030px) {
  .bonus__wrapper {
    height: 150px;
    padding: 20px 20px 20px 190px;
    align-items: center;
  }
}

@media (max-width: 965px) {
  .bonus__wrapper {
    flex-direction: column;
    align-items: normal;
    gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .bonus__wrapper {
    height: 177px;
    padding: 25px 10px 10px 10px;
    border-radius: 12px;
    gap: 0px;
    justify-content: flex-end;
  }
}

.bonus__content {
  color: #fff;
  position: relative;
  z-index: 1;
}

.bonus__image {
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 1030px) {
  .bonus__image {
    width: 200px;
  }
}

@media (max-width: 650px) {
  .bonus__image {
    display: none;
  }
}

.bonus__content-headtext {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1095px) {
  .bonus__content-headtext {
    font-size: 24px;
  }
}

@media (max-width: 965px) {
  .bonus__content-headtext {
    margin-bottom: 0px;
  }
}

@media (max-width: 650px) {
  .bonus__content-headtext {
    font-size: 20px;
    max-width: 280px;
    padding-left: 150px;
    margin-bottom: 30px;
  }
}

.bonus__content-subtext {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 965px) {
  .bonus__content-subtext {
    display: none;
  }
}

@media (max-width: 650px) {
  .bonus__content-subtext {
    display: none;
  }
}

.bonus__image-mob {
  display: none;
}

@media (max-width: 650px) {
  .bonus__image-mob {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
  }
}

.bonus-page {
  margin-top: 30px;
  margin-bottom: 45px;
}

.bonus-page .bonus__wrapper {
  align-items: center;
  padding: 60px 30px 65px 325px;
  margin-bottom: 0;
}

@media (max-width: 1030px) {
  .bonus-page .bonus__wrapper {
    padding: 60px 30px 65px 200px;
  }
}

@media (max-width: 650px) {
  .bonus-page .bonus__wrapper {
    background-color: transparent;
    display: block;
    height: auto;
    padding: 0px;
  }

  .bonus-page .bonus__wrapper .bonus__image-mob {
    position: relative;
    margin-bottom: 25px;
  }
}

@media (max-width: 650px) {
  .bonus-page {
    margin-bottom: 10px;
  }
}

.bonus-page .bonus__content-headtext {
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 0;
}

@media (max-width: 965px) {
  .bonus-page .bonus__content-headtext {
    font-size: 36px;
  }
}

@media (max-width: 650px) {
  .bonus-page .bonus__content-headtext {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
  }
}

.bonus-page__description {
  margin-bottom: 75px;
}

@media (max-width: 650px) {
  .bonus-page__description {
    margin-bottom: 0;
  }

  .bonus-page__description .buttom {
    display: none;
  }
}

.bonus-page__description-text {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

@media (max-width: 650px) {
  .bonus-page__description-text {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .bonus-page-investments {
    margin-bottom: 55px;
  }

  .bonus-page-investments .bonus-page__description-text {
    margin-bottom: 10px;
  }

  .bonus-page-investments .buttom {
    display: flex;
    width: 100%;
  }
}

.bonus-baner-investments {
  position: relative;
  background-color: #f2f2f0;
  padding: 55px 20px 55px 45px;
  border-radius: 12px;
  overflow: hidden;
}

.bonus-baner-investments::after {
  content: "";
  position: absolute;
  width: 441px;
  height: 441px;
  background: #e40136;
  border-radius: 50%;
  right: -60px;
  bottom: -300px;
}

@media (max-width: 650px) {
  .bonus-baner-investments::after {
    width: 260px;
    height: 260px;
    bottom: -170px;
    right: -30px;
  }
}

@media (max-width: 650px) {
  .bonus-baner-investments {
    height: 135px;
    padding: 20px 20px 20px 15px;
    z-index: 4;
  }
}

.bonus-baner-investments-img {
  position: absolute;
  right: 80px;
  bottom: 0;
  z-index: 1;
  width: 190px;
}

@media (max-width: 650px) {
  .bonus-baner-investments-img {
    width: 120px;
    bottom: -10px;
    right: 25px;
  }
}

.achievements {
  margin-bottom: 64px;
}

@media (max-width: 650px) {
  .achievements {
    margin-bottom: 30px;
  }
}

.achievements__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .achievements__wrapper {
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 25px;
  }
}

.achievements__images {
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: -4px -4px 6px -2px rgba(0, 0, 0, 0.09) inset, 10px 10px 31px -4px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
}

@media (max-width: 890px) {
  .achievements__images {
    padding: 10px;
    box-shadow: -4px -4px 3px -5px rgba(0, 0, 0, 0.06) inset, 10px 10px 32px 9px rgba(0, 0, 0, 0.04);
  }

  .achievements__images img {
    width: 52px;
    height: 47px;
  }
}

.achievements__text {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

@media (max-width: 890px) {
  .achievements__text {
    font-size: 24px;
    line-height: 150%;
  }
}

@media (max-width: 750px) {
  .achievements__text {
    display: none;
  }
}

.achievements__text-mob {
  display: none;
}

@media (max-width: 750px) {
  .achievements__text-mob {
    display: block;
    color: #000;
    max-width: 165px;
    font-weight: 700;
    line-height: 150%;
  }
}

.achievements__subtext {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  max-width: 350px;
}

@media (max-width: 890px) {
  .achievements__subtext {
    font-size: 16px;
  }
}

.achievements__subtext a {
  color: #e40136;
  text-decoration: underline;
}

@media (max-width: 750px) {
  .achievements__subtext {
    display: none;
  }
}

.achievements__btn {
  display: none;
}

@media (max-width: 750px) {
  .achievements__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #142d48;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    min-height: 36px;
    border-radius: 8px;
    border: 1px solid #000;
  }
}

.franchise {
  margin-bottom: 64px;
}

@media (max-width: 680px) {
  .franchise {
    display: none;
  }
}

.franchise__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 35px;
  border-radius: 12px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  padding: 17px;
}

.franchise__content {
  max-width: 220px;
  z-index: 1;
}

.franchise__content .buttom {
  font-size: 16px;
  font-weight: 400;
  min-height: 36px;
  min-width: 143px;
}

.franchise__content__headtext {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 5px;
}

.franchise__content__subtext {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}

.franchise__images-right {
  position: absolute;
  right: 15px;
  top: 0;
}

@media (max-width: 967px) {
  .franchise__images-right {
    width: 350px;
    right: 0;
  }
}

@media (max-width: 820px) {
  .franchise__images-right {
    width: 230px;
  }
}

.franchise-baner {
  margin: 25px 0px 50px 0px;
}

.franchise-baner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.franchise-baner__img-left {
  width: 711px;
}

@media (max-width: 850px) {
  .franchise-baner__img-left {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .franchise-baner__img-left {
    width: 400px;
  }
}

@media (max-width: 700px) {
  .franchise-baner__img-left {
    display: none;
  }
}

.franchise-baner__img-right {
  width: 348px;
}

@media (max-width: 850px) {
  .franchise-baner__img-right {
    width: 270px;
  }
}

@media (max-width: 800px) {
  .franchise-baner__img-right {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .franchise-baner__img-right {
    width: 100%;
  }
}

.offers {
  margin-bottom: 64px;
}

@media (max-width: 650px) {
  .offers {
    margin-bottom: 30px;
  }
}

.offers__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 1050px) {
  .offers__wrapper {
    flex-direction: column;
  }
}

.offers__card {
  flex: 50%;
  border-radius: 12px;
}

@media (max-width: 1050px) {
  .offers__card {
    flex: 100%;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .offers__card {
    display: none;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
  }
}

.offers__card-wrapper {
  position: relative;
  background-color: #f2f2f0;
  padding: 15px 15px 25px 20px;
  overflow: hidden;
  border-radius: 12px;
}

.offers__card-wrapper::after {
  content: "";
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #e40136;
  bottom: -150px;
  right: -50px;
}

@media (max-width: 650px) {
  .offers__card-wrapper::after {
    width: 200px;
    height: 200px;
    bottom: -100px;
    right: -40px;
  }
}

@media (max-width: 650px) {
  .offers__card-wrapper {
    padding: 10px;
    overflow: visible;
  }
}

.offers__card__name {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
  max-width: 343px;
  z-index: 2;
}

@media (max-width: 650px) {
  .offers__card__name {
    font-size: 20px;
    max-width: 105px;
  }
}

.offers__card__description {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  max-width: 360px;
}

.offers__card__description a {
  text-decoration: underline;
  color: #e40136;
}

@media (max-width: 650px) {
  .offers__card__description {
    font-size: 12px;
    max-width: 135px;
    line-height: 120%;
  }
}

.offers__card__image {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 1;
}

@media (max-width: 650px) {
  .offers__card__image {
    width: 145px;
    border-radius: 12px;
  }
}

.offers__card__image-two {
  right: 0px;
}

.offers__card-mob {
  display: none;
}

@media (max-width: 650px) {
  .offers__card-mob {
    display: block;
  }
}

.investments {
  display: none;
}

@media (max-width: 650px) {
  .investments {
    display: block;
    margin-bottom: 30px;
  }
}

.investments__contant {
  margin-bottom: 30px;
}

.investments__contant-subtext {
  color: #696969;
  font-size: 16px;
  font-weight: 400;
}

.franchise__mob {
  display: none;
}

@media (max-width: 650px) {
  .franchise__mob {
    display: block;
    margin-bottom: 30px;
  }
}

.franchise__mob__wrapper {
  border-radius: 12px;
  position: relative;
}

.franchise__mob__images {
  position: relative;
  display: block;
}

@media (max-width: 400px) {
  .franchise__mob__images {
    width: 100%;
  }
}

.franchise__mob__contant {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
}

.franchise__mob__contant-name {
  font-size: 24px;
  margin-bottom: 5px;
}

.franchise__mob__contant-subtext {
  font-size: 12px;
  line-height: 120%;
  max-width: 230px;
}

.franchise__mob__contant-subtext a {
  text-decoration: underline;
}

.womens,
.mens {
  margin-top: 35px;
  margin-bottom: 40px;
}

@media (max-width: 650px) {

  .womens,
  .mens {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.mens .card {
  background-color: #0d263f;
}

.mens .card-name {
  color: white;
}

.mens .card-description {
  color: white;
}

.price {
  margin-bottom: 80px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 103.125%;
}

@media (max-width: 650px) {
  .price {
    margin-bottom: 55px;
  }
}

.price .buttom {
  margin-top: 40px;
}

@media (max-width: 650px) {
  .price .buttom {
    margin-top: 20px;
    width: 100%;
  }
}

.price__name {
  font-size: 32px;
  font-weight: 700;
  padding: 10px 0px 10px 15px;
}

@media (max-width: 650px) {
  .price__name {
    font-size: 12px;
    padding: 5px 0px 5px 15px;
  }
}

.table>*:nth-child(odd) {
  background-color: #f2f2f0;
}

.line {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 15px;
  line-height: 103.125%;
}

@media (max-width: 650px) {
  .line {
    font-size: 12px;
  }
}

.baner {
  margin: 24px 0px;
}

@media (max-width: 650px) {
  .baner {
    display: none;
  }
}

.baner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f0;
  border-radius: 12px;
  padding: 38px 85px 38px 38px;
}

.baner__headtext {
  color: #0d263f;
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}

.all-promotion {
  margin-bottom: 80px;
}

@media (max-width: 650px) {
  .all-promotion {
    display: none;
  }
}

.all-promotion__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 20px 30px;
}

.all-promotion__card {
  border-radius: 12px;
  background: #f2f2f0;
  padding: 30px 30px 30px 40px;
}

.all-promotion__card:nth-child(2) {
  background-color: #142d48;
  color: white;
}

.all-promotion__card:nth-child(3) {
  background-color: #142d48;
  color: white;
}

.all-promotion__card-name {
  max-width: 150px;
}

.all-promotion-mob {
  display: none;
}

@media (max-width: 650px) {
  .all-promotion-mob {
    display: block;
    margin: 20px 0px 55px 0px;
  }

  .all-promotion-mob .promotion__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .all-promotion-mob .buttom {
    margin-top: 8px;
  }

  .all-promotion-mob .promotion__wrapper-card-name {
    position: relative;
    z-index: 1;
  }
}

.statistics {
  margin-bottom: 75px;
}

@media (max-width: 650px) {
  .statistics {
    margin-bottom: 55px;
  }
}

.statistics .buttom {
  max-width: 300px;
}

@media (max-width: 730px) {
  .statistics .buttom {
    max-width: 100%;
  }
}

.statistics__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  gap: 40px 25px;
}

@media (max-width: 650px) {
  .statistics__wrapper {
    margin-bottom: 20px;
    align-items: center;
    gap: 25px 0px;
  }
}

.statistics__place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
}

@media (max-width: 650px) {
  .statistics__place {
    flex-direction: column;
    width: 48%;
  }
}

.statistics__place-open {
  position: relative;
  background: linear-gradient(270deg, #e30d2a 0%, #e73c4c 100%);
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

@media (max-width: 650px) {
  .statistics__place-open {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .statistics__place-open::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    height: 26px;
    width: 1px;
    background-color: #E73B4C;
    z-index: -1;
  }
}

.statistics__place-open__img {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .statistics__place-open__img {
    margin-bottom: 0px;
    width: 87px;
    margin-top: -4px;
    margin-bottom: 15px;
  }

  .statistics__place-open__img img {
    width: 100%;
  }
}

.statistics__place-open__text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.statistics__place-open__text span {
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 650px) {
  .statistics__place-open__text span {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .statistics__place-open__text {
    font-size: 16px;
  }
}

.statistics__place-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.statistics__place-text span {
  color: #e73a4a;
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 650px) {
  .statistics__place-text span {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .statistics__place-text {
    font-size: 12px;
  }
}

.statistics__employees {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: #f2f2f0;
  padding: 15px 30px;
  width: 440px;
}

@media (max-width: 650px) {
  .statistics__employees {
    display: block;
    width: 48%;
    padding: 20px;
  }
}

.statistics__employees-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.statistics__employees-text span {
  color: #132e48;
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 650px) {
  .statistics__employees-text span {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .statistics__employees-text {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.statistics__employees-subtext {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.statistics__employees-subtext span {
  color: #132e48;
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 650px) {
  .statistics__employees-subtext span {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .statistics__employees-subtext {
    font-size: 12px;
  }
}

.statistics__employees-img {
  display: none;
}

@media (max-width: 650px) {
  .statistics__employees-img {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

.statistics__clients {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.statistics__clients span {
  color: #132e48;
  font-size: 48px;
  font-weight: 900;
}

.chio {
  margin: 30px 0px 45px 0px;
}

@media (max-width: 650px) {
  .chio {
    margin: 20px 0px 25px 0px;
  }
}

.chio__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.chio__image {
  width: 350px;
}

@media (max-width: 650px) {
  .chio__image {
    display: none;
  }

  .chio__image:last-child {
    display: block;
  }
}

@media (max-width: 460px) {
  .chio__image {
    width: 100%;
  }
}

.chio__image img {
  width: 100%;
}

.chio {
  max-width: 100%;
}

.statistics-chio {
  display: none;
}

@media (max-width: 650px) {
  .statistics-chio {
    display: flex;
  }

  .statistics-chio .statistics__wrapper {
    margin-bottom: 0px;
  }
}

.vacancies {
  margin: 30px 0px 80px;
}

.vacancies .buttom-mobail {
  display: none;
}

@media (max-width: 650px) {
  .vacancies {
    margin: 20px 0px 55px;
  }

  .vacancies .buttom-mobail {
    display: flex;
  }
}

.vacancies__wrapper {
  position: relative;
  background-color: #f2f2f0;
  padding: 30px 0px 30px 60px;
  overflow: hidden;
}

.vacancies__wrapper .buttom {
  max-width: 230px;
  padding: 0px;
}

@media (max-width: 650px) {
  .vacancies__wrapper .buttom {
    display: none;
  }
}

.vacancies__wrapper::before {
  content: "";
  width: 482.937px;
  height: 482.937px;
  background-color: #e40136;
  position: absolute;
  right: -150px;
  bottom: -220px;
  border-radius: 50%;
}

@media (max-width: 980px) {
  .vacancies__wrapper::before {
    right: -220px;
    bottom: -290px;
  }
}

@media (max-width: 650px) {
  .vacancies__wrapper::before {
    width: 200px;
    height: 200px;
    right: -50px;
    bottom: -100px;
  }
}

@media (max-width: 650px) {
  .vacancies__wrapper {
    padding: 12px 12px 40px 12px;
    margin-bottom: 25px;
  }
}

.vacancies__description {
  position: relative;
  color: #696969;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  max-width: 65%;
  margin-bottom: 25px;
}

.vacancies__description br {
  display: none;
}

@media (max-width: 650px) {
  .vacancies__description {
    font-size: 16px;
    margin-bottom: 0px;
  }
}

@media (max-width: 460px) {
  .vacancies__description {
    max-width: 100%;
  }

  .vacancies__description br {
    display: block;
  }
}

.vacancies__description-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 304px;
  z-index: 2;
}

.vacancies__description-img img {
  display: block;
  width: 100%;
}

@media (max-width: 980px) {
  .vacancies__description-img {
    width: 270px;
  }
}

@media (max-width: 650px) {
  .vacancies__description-img {
    width: 165px;
  }
}

/* footer */
.footer {
  background-color: #0d263f;

}

@media (max-width: 750px) {
  .footer {
    padding: 20px 0px 100px;
  }
}

.footer__wrapper {
  padding: 50px 90px 150px;
  display: flex;
  justify-content: space-between;


}

@media (max-width: 750px) {
  .footer__wrapper {
    flex-direction: column;
    padding: 0px;
    background-color: transparent;
  }
}

.footer__navigate {
  color: white;
}

@media (max-width: 750px) {
  .footer__navigate {
    order: 2;
  }
}

.footer__navigation-list li {
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

@media (hover: hover) {
  .footer__navigation-list li :hover {
    text-decoration: underline;
  }
}

@media (max-width: 750px) {
  .footer__navigation-list li {
    font-size: 16px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 750px) {
  .footer__contacts {
    order: 1;
    gap: 30px;
    margin-bottom: 35px;
  }
}

.footer__phone {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 750px) {
  .footer__phone {
    font-size: 24px;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 750px) {
  .footer__social {
    justify-content: flex-start;
  }
}

.insta {
  display: none;
}

@media (max-width: 750px) {
  .insta {
    display: block;
  }
}

.vk {
  display: none;
}

@media (max-width: 750px) {
  .vk {
    display: block;
  }
}

.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(19, 46, 72, 0.49) 0%, rgba(19, 46, 72, 0) 100%);
  z-index: 99999;
}

.pop-up__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 540px;
  padding: 30px 25px 50px 30px;
  border-radius: 12px;
}

@media (max-width: 650px) {
  .pop-up__wrapper {
    min-width: 290px;
    padding: 15px 15px 35px 15px;
  }
}

.pop-up__headtext {
  color: #0d263f;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .pop-up__headtext {
    font-size: 16px;
  }
}

.pop-up__politics {
  margin-top: 32px;
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 650px) {
  .pop-up__politics {
    font-size: 11px;
    margin-top: 25px;
    line-height: 130%;
  }
}

.pop-up__politics a {
  text-decoration: underline;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 25px;
  width: 13px;
  height: 13px;
}

.close::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0d263f;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-130deg);
}

.close::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0d263f;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(130deg);
}

@media (max-width: 650px) {
  .close {
    top: 26px;
    right: 15px;
  }
}

.step1 {
  display: none;
}

.step2 {
  display: none;
}

.pop-up__wrapper-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 24px;
}

.pop-up__wrapper-inputs input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  border: 1px solid #000;
  background: #fff;
}

.pop-up__wrapper-inputs input::-moz-placeholder {
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
}

.pop-up__wrapper-inputs input::placeholder {
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 650px) {
  .pop-up__wrapper-inputs {
    gap: 16px;
    margin-bottom: 16px;
  }
}

.step3 {
  display: none;
}

.step3 .pop-up__wrapper-inputs {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .step3 .pop-up__wrapper-inputs {
    margin-bottom: 15px;
  }
}

.step3 .pop-up__politics {
  margin-top: 0px;
}

@media (max-width: 650px) {
  .step3 .pop-up__politics {
    font-size: 16px;
  }
}

.step4 {
  display: none;
}


.section-name {
  margin-bottom: 25px;
}


form#searchform {
  width: fit-content;
  position: relative;
}

ul.ajax-search {

  position: absolute;
  background: #fff !important;
  height: fit-content;

  width: 100%;
  border-radius: 7px;
  margin-top: 4px;
}

li.ajax-search__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a.asl_res_url {
  color: #000 !important;
  border-bottom: unset;
}

div.asl_r.asl_w.vertical .results .item::after {
  display: none !important;
}