<div class="card__wrapper">
  <div class="card">
    <h2 class="card-name">
      Стрижка <br />
      600 руб.
    </h2>
    <p class="card-description">
      Опытные мастера подберут вам идельную стрижку
    </p>
    <div class="card-images">
      <img src="../assets/images/women-two.png" alt="Женщинам" />
    </div>
  </div>

  <div class="card card__two">
    <h2 class="card-name">
      Окрашивание <br />
      от 1600 руб.
    </h2>
    <p class="card-description">
      Профессиональные материалы, большой выбор цветов
    </p>
    <div class="card-images">
      <img src="../assets/images/women.png" alt="Женщинам" />
    </div>
  </div>
</div>
