<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <nav class="footer__navigate">
        <ul class="footer__navigation-list">
          <li>
            <a href="#"> Акции </a>
          </li>
          <li>
            <a href="#"> О компании </a>
          </li>
          <li>
            <a href="#"> Вакансии </a>
          </li>
          <li>
            <a href="#"> Франшиза </a>
          </li>
          <li>
            <a href="#"> Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="footer__contacts">
        <a class="footer__phone" href="tel:88006006516">8 800 600-65-16</a>

        <div class="footer__social">
          <a href="#" class="insta">
            <img src="./assets/images/social/insta.svg" alt="instagram" />
          </a>
          <a href="#" class="vk">
            <img src="./assets/images/social/vk.svg" alt="vk" />
          </a>
          <a href="#">
            <img src="./assets/images/social/tg.svg" alt="telegram" />
          </a>
          <a href="#">
            <img src="./assets/images/social/whats.svg" alt="whats" />
          </a>
          <a href="#">
            <img src="./assets/images/social/viber.svg" alt="viber" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
