<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__wrap-top">
        <div class="header__wrap-top__city">
          <img src="./assets/images/location.svg" alt="location" />
          <p class="header__wrap-top__city-name">Москва</p>
        </div>

        <nav class="header__navigation">
          <ul class="header__wrap-top__navigation-list">
            <li class="header__wrap-top__navigation-li">
              <a href="#"> Акции </a>
            </li>
            <li class="header__wrap-top__navigation-li">
              <a href="#"> О компании </a>
            </li>
            <li class="header__wrap-top__navigation-li">
              <a href="#"> Вакансии </a>
            </li>
            <li class="header__wrap-top__navigation-li">
              <a href="#"> Франшиза </a>
            </li>
            <li class="header__wrap-top__navigation-li">
              <a href="#"> Контакты</a>
            </li>
          </ul>
        </nav>

        <a class="header__wrap-top__phone" href="tel:88006006516"
          >8 800 600-65-16</a
        >
      </div>

      <div class="header__wrap-middle">
        <div class="logo">
          <img src="./assets/images/logo.svg" alt="logo" />
        </div>
        <div class="search">
          <input type="search" placeholder="Поиск" />
        </div>
        <p class="singUp">Личный кабинет</p>
      </div>

      <div class="header__wrap-down">
        <ul class="header__wrap-down-navigation">
          <li><a href="../pages/womens.html">Женщинам</a></li>
          <li><a href="../pages/mens.html">Мужчинам</a></li>
          <li><a href="../pages/childrens.html">Детям</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<header class="header-mobail">
  <div class="container">
    <div class="header-mobail__wrapper">
      <img
        class="header-mobail__logo"
        src="./assets/images/logo.svg"
        alt="logo"
      />
      <div class="header-mobail__optional">
        <img class="login" src="./assets/images/log.svg" alt="войти" />
        <img class="city" src="./assets//images/location.svg" alt="город" />
        <div class="burger-menu">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navigation-mobail">
  <ul class="navigation-mobail__list">
    <li>
      <p class="navigation-mobail__li">Услуги</p>
      <ul class="navigation-mobail__list-two">
        <li><a href="#">Женщинам</a></li>
        <li><a href="#">Мужчинам</a></li>
        <li><a href="#">Детям</a></li>
      </ul>
    </li>
    <li><a href="#"> Акции </a></li>
    <li><a href="#"> Чио бонус </a></li>
    <li><a href="#"> О компании </a></li>
    <li><a href="#"> Вакансии </a></li>
    <li><a href="#"> Франшиза </a></li>
    <li><a href="#"> Контакты </a></li>
    <li><a href="#"> Личный кабинет </a></li>
  </ul>
  <button class="btn">Войти</button>
</nav>
