<!-- Enter step1 -->
<div class="pop-up">
  <div class="container">
    <div class="pop-up__wrapper">
      <h3 class="pop-up__headtext">Личный кабинет</h3>
      <button class="buttom">Войти</button>
      <p class="pop-up__politics">
        Нажимая войти вы соглашаетесь с политикой обработки персональных данных
      </p>
    </div>
  </div>
</div>

<!-- Enter step2 -->
<div class="pop-up step2">
  <div class="container">
    <form class="pop-up__wrapper">
      <h3 class="pop-up__headtext">Вход в личный кабинет</h3>
      <div class="pop-up__wrapper-inputs">
        <input type="text" placeholder="Укажите ваш телефон" />
        <input type="text" placeholder="Ваше имя" />
      </div>
      <button class="buttom">Войти</button>
      <div class="close"></div>
    </form>
  </div>
</div>

<!-- Enter step3 -->
<div class="pop-up step3">
  <div class="container">
    <form class="pop-up__wrapper">
      <h3 class="pop-up__headtext">Вход в личный кабинет</h3>
      <div class="pop-up__wrapper-inputs">
        <input type="text" placeholder="Введите номер из СМС" />
      </div>
      <p class="pop-up__politics">Выслать код повторно через 03:02</p>
      <div class="close"></div>
    </form>
  </div>
</div>

<!-- Enter step4 -->
<div class="pop-up step4">
  <div class="container">
    <div class="pop-up__wrapper">
      <h3 class="pop-up__headtext">
        Спасибо! <br />
        Ваша запись сформирована.<br />Вам придет СМС с подтверждением
      </h3>
      <a href="/" class="buttom">На главную</a>
      <div class="close"></div>
    </div>
  </div>
</div>
